/*
@name: 易道ERP后台系统
@description: 1.0
@require: edaw.css
@branch:base
*/
/*必填项标签*/

.g-mar-l11 {
	margin-left: 11px;
}
.g-inline-b {
	display: inline-block;
}
.g-mar-t4 {
	margin-top: 8px;
	margin-left: 3px;
}
.g-p0 {
	padding: 0;
}
.g-lb {
	line-height: 30px;
}
input.g-lb {
	line-height: 16px;
}
.g-h30,
.g-lb {
	height: 30px;
}
.g-h70 {
	height: 70px;
}
.g-lh22 {
	line-height: 22px;
}
.g-h400 {
	height: 400px;
}
.g-h430 {
	height: 430px;
}
.g-h180 {
	height: 180px;
}
.g-h210 {
	height: 210px;
}
.g-h250 {
	height: 250px;
}
.g-h300 {
	height: 300px;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
	background-color: #E3E3E3;
}
.g-l11 {
	left: 11px;
}
.m-mt-m7 {
	margin-top: -7px;
}
label.error {
	color: #f00;
	margin-left: 11px;
	line-height: 30px;
}
input.error {
	border: 1px solid red;
}
.custom-combobox {
	position: relative;
	display: inline-block;
}
.custom-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
}
.custom-combobox-input {
	margin: 0;
	padding: 5px 10px;
	width: 66%;
}
.custom-combobox {
	margin-left: 11px;
}
.g-file-input-title {
	height: 32px;
	line-height: 32px;
}
.m-input-cm::-moz-placeholder {
	text-align: right;
}
.m-input-cm::-webkit-input-placeholder {
	text-align: right;
}
.m-input-cm:-moz-placeholder {
	text-align: right;
}
.m-input-cm:-ms-input-placeholder {
	text-align: right;
}
.g-w95 {
	width: 95%;
}
.col-md-4 .custom-combobox-input {
	margin: 0;
	padding: 5px 10px;
	width: 95%;
}
.g-line {
	width: 100%;
	margin: 0 auto 6px;
	position: relative;
	height: 20px;
}
.g-line div {
	position: absolute;
	height: 1px;
	background: #cccccc;
	top: 9.5px;
	font-size: 0;
	width: 100%;
}
.col-md-8 .col-md-2 {
	width: 12%;
}
.m-insert-staff {
	position: absolute;
	top: 100px;
	width: 120px;
	right: 18%;
	height: 180px;
}
.m-insert-staff button {
	height: 32px;
}
.m-insert-staff div {
	height: 150px;
	border: 1px solid #999999;
	margin-bottom: 10px;
}
.ui-widget {
	display: inline;
}
.g-mar-l20 {
	margin-left: 20px;
}
.g-mar-l2 {
	margin-left: 5px;
}
.m-in-goods .custom-combobox {
	width: 60%;
}
.g-pad-0 {
	padding: 0 !important;
}
.g-pad-0 .page-header {
	margin: 0;
}
.m-carr-img {
	position: absolute;
	height: 200px;
	width: 300px;
	border: 1px solid #cccccc;
	top: 100px;
	right: 10%;
}
.m-carr-img span {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	height: 30px;
}
.m-carr-img div {
	width: 80%;
	height: 140px;
	border: 1px solid #cccccc;
	margin: 20px 10% 10px;
}
.g-mar-b4 {
	margin-bottom: 4px;
}
.g-mar-t6 {
	margin-top: -6px;
}
.g-mar-dt8 {
	margin-top: -8px;
}
.table th,
.table td {
	text-align: center;
}
.table td {
	max-width: 300px;
}
.g-input-unit {
	margin-left: -18px;
	color: #ccc;
}
.g-pad-r18 {
	padding-right: 18px;
}
.m-stock-list {
	width: 70%;
	list-style: none;
}
.m-stock-list>li {
	margin: 6px 0;
}
.m-stock-list li.off {
	color: #ccc;
}
.disabled {
	color: #ccc;
}
.alert-default {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: none repeat scroll 0 0 / 20px 20px #f4f4f4;
	border-color: #ccc;
	color: #444;
	/*display: none;*/
	
	height: 120px;
}
.alert-onlyconfirm {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.alert-confirm {
	position: absolute;
	bottom: 10px;
	right: 30%;
}
.alert-cancel {
	position: absolute;
	bottom: 10px;
	left: 30%;
}
.edaw-table {} .edaw-table .title {
	background: none repeat scroll 0 0 #fafafa;
	border-bottom: 2px solid #ececec;
	padding: 11px 20px 9px;
	position: relative;
}
.edaw-table .content {
	border: 1px solid #ececec;
}
.edaw-table tr {
	border: none;
}
.border-right {
	border-right: 1px solid #ccc;
}
.border-right #address {
	height: auto;
	/*margin-bottom: 20px;*/
}
.col-md-5 #remark {
	height: auto;
	/*margin-bottom: 10px;*/
}
.first-row {
	padding: 14px 0;
}
.m-height-100 {
	height: 100px;
}
.m-height-200 {
	height: 200px;
}
.m-width-200 {
	width: 200px;
}
.m-mar-t20 {
	margin-top: 20px;
}
.m-mar-b10 {
	margin-bottom: 10px;
}
.alert-default .text-content {
	margin: 8px 0;
	text-align: center;
}
.dialog .modal-content {
	/*width: 30%;*/
	
	margin: auto;
}
.dialog .modal-dialog {
	max-height: 200px;
	width: 30%;
}
.dialog .panel {
	position: relative;
	padding: 0;
}
.panel>form .panel-heading {
	/*position: fixed;*/
	/*top: 0;*/
	/*width: 100%;*/
	/*z-index: 100;*/
}
.dialog .panel-heading {
	text-align: center;
}
.dialog .cancel-btn,
.dialog .confirm-btn {
	display: inline-block;
	vertical-align: middle;
}
.dialog .cancel-btn {
	margin-left: 30%;
}
.dialog .confirm-btn {
	margin-left: 10%;
}
.dialog .close-btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
}
.dialog .close-btn div {
	position: absolute;
	top: 10px;
	right: 10px;
}
.g-dashed-line {
	border-top: 1px dashed #CCCCCC;
	height: 1px;
	box-sizing: border-box;
	float: left;
	width: 100%;
	margin: 6px 0;
}
.logout-model .modal-dialog {
	height: 330px;
	width: 60%;
}
.logo-deaw {
	width: 160px;
	height: 46px;
	background: rgba(255, 204, 51, 0);
	margin: auto;
	text-align: center;
}
.logo-deaw img {
	width: 160px;
	height: 40px;
	margin: auto;
	cursor: pointer;
}
.other-select {
	font-size: 16px;
	width: 160px;
	height: 35px;
	margin-left: 5px;
}
.col-md-3 {
	padding-left: 5px;
	padding-right: 5px;
}
/*layer弹窗样式修正*/

.panel>form .panel-body {
	/*margin-top: 45px;*/
}
.panel-body label {
	/*text-align:center;*/
}
.goodsModel .modal-dialog {
	margin-top: 2%;
	width: 60%;
	/*height: 700px;*/
	/*margin-bottom: 10%;*/
}
.goodsModel iframe {
	width: 100%;
	height: 700px;
	border: none;
}
.marbtm {
	margin-bottom: 20px;
}
/*下面的是员工信息图片样式*/

.panel-body #commodityPicDiv {
	height: 100%;
	min-width: 120px;
	border: 1px solid #999999;
	margin-bottom: 5px;
}
/*
@branch:人事管理
@pages:员工信息查看
*/

body#employee-detail #gender,
body#employee-detail #stature,
body#employee-detail #cardId,
body#employee-detail #folk {
	max-width: 250px;
}
body#employee-detail .panel-body h5,
body#employee-detail .text-center {
	font-weight: bolder;
}
body#employee-detail .panel-body h5 {
	text-align: center;
	font-size: 16px;
	margin: 15px;
	color: royalblue;
}
/*
@branch:销售管理
@pages:配送单管理>查看
*/

#delivery-detail .panel-heading {
	position: relative;
	height: 56px;
}
/*表单中的查询改良
定义col-max-w控制全系列的md列的最大宽,控制竖排版式
 */
/*弹出层样式修复*/

.aletab-a {
	cursor: pointer;
}
.aletab-div {
	/*float: left;*/
}
.aletab-sub {
	padding-left: 50px;
}
.query-main {
	position: relative;
}
.row.col-max-w>div {
	margin-bottom: 6px;
}
/*弹出层的radio插件样式*/

.row.col-max-w {
	margin-bottom: 8px;
}
div.query-main {
	border-bottom: 2px double #B5B5B5;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-bottom: 20px;
}
.query-main .query-sub {
	position: absolute;
	bottom: -15px;
	left: 10%;
	background-color: #fff;
	border-left: 6px solid #fff;
	border-right: 6px solid #fff;
}
@media (min-width: 800px) {
	.query-main .query-sub {
		left: 35%;
	}
}
@media (min-width: 1240px) {
	.query-main {
		padding: 15px;
	}
	.query-main .query-sub {
		left: 45%;
	}
}
.text-right {
	text-align: right;
	padding-right: 11px;
}
/**
 * 查询输入框样式
 */

span.required {
	color: red;
}
.title-wrap {
	position: relative;
}
.title-text {
	position: absolute;
	bottom: 0;
	left: 30%;
	padding: 1px 6px;
	font-size: 14px;
	font-weight: bold;
	border: 1px solid transparent;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: #fff;
	background-color: rgba(226, 79, 73, 0.75);
}
@media only screen and (min-width: 992px) {
	.title-text {
		right: 0px;
		left: inherit;
	}
}
@media only screen and (min-width: 1800px) {
	.title-text {
		right: inherit;
		left: 10px;
	}
}
/**
 * 显示更多查询条件。。
 */

.other-conditions {
	display: none;
	padding-top: 0;
}
.date-cont {
	display: none!important;
	visibility: hidden;
}
.other-conditionsev {
	display: none;
	padding-top: 0;
}
.date-contev {
	display: none!important;
	visibility: hidden;
}
.more-conditionsev {
	display: block;
	visibility: visible;
}
.more-conditions {
	display: block;
	visibility: visible;
}
@media (min-width: 1800px) {
	.other-conditions {
		display: block!important;
	}
	.more-conditions {
		display: none!important;
		visibility: hidden;
	}
	/*顺便把日期连接符也加了进来*/
	
	.date-cont {
		display: block!important;
		visibility: visible;
	}
	.date-contev {
		display: none!important;
		visibility: hidden;
	}
	.more-conditionsev {
		display: block;
		visibility: visible;
	}
	.more-conditions {
		display: block;
		visibility: visible;
	}
}
.more-conditions-panel {
	margin-top: 0;
	margin-bottom: 10px;
}
/*限制最大化时1200以上屏幕出现列宽浪费*/

.col-max-w .clearmp {
	padding-left: 5px;
	padding-right: 5px;
}
@media (min-width: 680px) {
	.col-md-2.col-max-w {
		margin-bottom: 6px;
		min-width: 125.7px
	}
	.col-md-3.col-max-w {
		margin-bottom: 6px;
		min-width: 211.5px
	}
	.col-md-4.col-max-w {
		margin-bottom: 6px;
		min-width: 273.3px
	}
	.col-md-5.col-max-w {
		margin-bottom: 6px;
		min-width: 347.2px
	}
	.col-md-6.col-max-w {
		margin-bottom: 6px;
		min-width: 421.0px
	}
	.col-md-7.col-max-w {
		margin-bottom: 6px;
		min-width: 494.8px
	}
	.col-md-8.col-max-w {
		margin-bottom: 6px;
		min-width: 568.7px
	}
	.col-md-9.col-max-w {
		margin-bottom: 6px;
		min-width: 642.5px
	}
	.col-md-10.col-max-w {
		margin-bottom: 6px;
		min-width: 716.3px
	}
	.col-md-11.col-max-w {
		margin-bottom: 6px;
		min-width: 790.2px
	}
	.col-md-12.col-max-w {
		margin-bottom: 6px;
		min-width: 864.0px
	}
}
@media (min-width: 1500px) {
	.col-md-1.col-max-w {
		margin-bottom: 6px;
		max-width: 50.4px;
	}
	.col-md-2.col-max-w {
		margin-bottom: 6px;
		max-width: 125.7px;
	}
	.col-md-3.col-max-w {
		margin-bottom: 6px;
		max-width: 211.5px;
	}
	.col-md-4.col-max-w {
		margin-bottom: 6px;
		max-width: 273.3px;
	}
	.col-md-5.col-max-w {
		margin-bottom: 6px;
		max-width: 347.2px;
	}
	.col-md-6.col-max-w {
		margin-bottom: 6px;
		max-width: 421.0px;
	}
	.col-md-7.col-max-w {
		margin-bottom: 6px;
		max-width: 494.8px;
	}
	.col-md-8.col-max-w {
		margin-bottom: 6px;
		max-width: 568.7px;
	}
	.col-md-9.col-max-w {
		margin-bottom: 6px;
		max-width: 642.5px;
	}
	.col-md-10.col-max-w {
		margin-bottom: 6px;
		max-width: 716.3px
	}
	.col-md-11.col-max-w {
		margin-bottom: 6px;
		max-width: 790.2px;
	}
	.col-md-12.col-max-w {
		margin-bottom: 6px;
		max-width: 864.0px;
	}
	.col-max-w>.col-md-1 {
		margin-bottom: 6px;
		max-width: 50.4px;
	}
	.col-max-w>.col-md-2 {
		margin-bottom: 6px;
		max-width: 125.7px;
	}
	.col-max-w>.col-md-3 {
		margin-bottom: 6px;
		max-width: 211.5px;
	}
	.col-max-w>.col-md-4 {
		margin-bottom: 6px;
		max-width: 273.3px;
	}
	.col-max-w>.col-md-5 {
		margin-bottom: 6px;
		max-width: 347.2px;
	}
	.col-max-w>.col-md-6 {
		margin-bottom: 6px;
		max-width: 421.0px;
	}
	.col-max-w>.col-md-7 {
		margin-bottom: 6px;
		max-width: 494.8px;
	}
	.col-max-w>.col-md-8 {
		margin-bottom: 6px;
		max-width: 568.7px;
	}
	.col-max-w>.col-md-9 {
		margin-bottom: 6px;
		max-width: 642.5px;
	}
	.col-max-w>.col-md-10 {
		margin-bottom: 6px;
		max-width: 716.3px
	}
	.col-max-w>.col-md-11 {
		margin-bottom: 6px;
		max-width: 790.2px;
	}
	.col-max-w>.col-md-12 {
		margin-bottom: 6px;
		max-width: 864.0px;
	}
}