<div id="newbody" class="content newview">
	<div id="editbug">
		<div class="in-generalizePerson">
			<label for="generalizePerson">地推人员 </label><span class="required"></span>
			<input type="text" id="generalizePerson" required="required" name="generalizePerson" class="generalizePerson text" /><span class="required"></span>
		</div>
		<div class="in-generalizeStartTime">
			<label for="generalizeStartPerson">开始时间 </label><span class="required"></span>
			<input type="datetime-local" id="generalizeStartTime" required="required" name="generalizeStartTime" class="generalizeStartTime text" />
		</div>
		<div class="in-generalizeEndTime">
			<label for="generalizeEndPerson">结束时间 </label><span class="required"></span>
			<input type="datetime-local" required="required" id="generalizeEndTime" required="required" name="generalizeEndTime" class="generalizeEndTime text" />
		</div>
		<div class="in-qrcodeNo"><span class="required"></span>
			<label for="qrcodeNo">推广二维码编号 </label><span class="required"></span>
			<input type="text" id="qrcodeNo" required="required" name="qrcodeNo" class="qrcodeNo text" />
		</div>
		<div class="in-activityName">
			<label for="activityName">活动主题 </label><span class="required"></span>
			<textarea text id="activityName" required="required" name="activityName" class="activityName text"></textarea>
		</div>
		<div class="in-activityExplain">
			<label for="activityExplain">活动说明 </label>
			<input type="text" id="activityExplain" name="activityExplain" class="activityExplain text" />
		</div>
		<div class="in-donationNum">
			<label for="donationNum">赠品数量 </label>
			<input type="number" id="donationNum" name="donationNum" class="donationNum text" />
		</div>
		<div class="in-address">
			<label for="address">地推地点 </label>
			<input type="text" id="address" name="address" placeholder="学校、工厂、CBD、社区" class="address text" />
		</div>
		<div class="in-districtTrait">
			<label for="districtTrait">区域特点 </label>
			<input type="text" id="districtTrait" name="districtTrait" placeholder="多少栋多少层多少户" class="districtTrait text" />
		</div>
		<div class="in-addressType">
			<label for="addressType">地推类型 </label>
			<input type="text" id="addressType" name="addressType" placeholder="根据楼层有多少人进行估计" class="addressType text" />
		</div>
		<div class="in-activityRemark">
			<label for="activityRemark">活动总结 </label>
			<textarea text id="activityRemark" name="activityRemark" class="activityRemark text"></textarea>
		</div>
	</div>
</div>