<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>第一个avalon项目</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<script src="vendor/require/require.js" data-main="main.js"></script>
		<style>
			.ms-controller {
				visibility: hidden;
			}	
		</style>
	</head>
	<body ms-controller="root">
		<div>{{header | html}}</div>
		<div ms-include-src="page"></div>
		<div>{{footer}}</div>
		<script src="index.js"></script>
	</body>
</html>