<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<!--<script src="../../vendor/avalon/avalon.js"></script>-->
	</head>

	<body>
		<div ms-controller="one">
			<input ms-duplex="username" />{{username}}
		</div>
	</body>

</html>