/* * @branch:基础管理
 * @pages:商品管理>商品型号>*
 * start
*/
#dataList1 tr td:first-child,
#dataList2 tr td:first-child {
	width: 140px;
}
textarea {
	display: block;
}
.update-phote-list {
	margin: 10px 0;
	border: 1px solid #ccc;
	padding: 20px 10px;
}
.update-phote-list > div {
	height: 120px;
	width: 120px;
	position: relative;
	border: 1px solid #ccc;
}
.update-phote-list > div input {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.marque-add	.save-photo {
	position: absolute;
	top: -36px;
	right: 40px;
}
.margin-left50 {
	margin-left: 50px;
	margin-top: 20px;
}

.update-phote-list > div {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
}
.update-phote-list img {
	max-width: 100px;
	max-height: 100px;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
/*>添加商品型号*/
.marque-add .delphoto {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 30px;
	text-align: center;
}

.marque-add .increase-phote-btn,
.marque-add .fake-file {
	display: inline-block;
}
.marque-add .increase-phote-btn {
	opacity: 0;
	width: 60px;
	z-index: 2;
}
.marque-add .fake-file {
	margin-top: -60px;
	z-index: 1;
}
.marque-add table input {
	color: #555;
}
.marque-add .selectDiv {
	float: left;
	margin-left: 30px;
}
/*end*/