<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>hello world</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
</head>
<body >
	<div class="container">
		<div class="row">
			<div class="col-md-5" ms-controller="todos">
				<form ms-on-submit="add">
					<label for="">&lowast;将下面输入 的文字放入todoform中</label>
					<input type="text" ms-duplex="txt"  class="form-control" />
				</form>
				<p ms-if="todolist.size()>0">现有{{todolist.size()}}项 todo list</p>
				<ol>
					<li ms-repeat = "todolist">
						{{el}}
						<a href="javascript:void(0);" ms-click="$remove" class="todoDelete">X</a>
					</li>
				</ol>
			</div>
		</div>
	</div>
	<script src="js/lib/avalon.js"></script>
	<script src="js/ex_avalon.js"></script>
</body>
</html>