<link rel="stylesheet" href="../css/bootstrap.min.css" />
<link rel="stylesheet" href="../css/pixel-admin.min.css" />
<link rel="stylesheet" href="../css/edaw.css" />
<!-- 内容 -->
<div id="content-wrapper" class="g-pad-0  marque-color-brand">
	<div class="row marque-header">
		<div class="col-md-12">
			<div class="panel">
				<div class="panel-body">
					<form role="form">
						<div class="form-group">
							<div class="col-md-4">
							    <label for="order-id" class="col-md-3 g-lb">查找颜色:</label>
							    <input type="text"  id="postName" placeholder="" class="col-md-7 g-mar-l11 g-h30">
							</div>
							<div class="col-md-2">
								<button type="button" class="btn btn-default glyphicon glyphicon-search" id="search">查询</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row color-body">
		<div class="col-sm-12">
			<div class="panel">
				<div class="panel-heading">
					<span class="panel-title">共有0条记录，每页10条记录</span>
				</div>
				<div class="index-inset">
				<div id="index-nav" class="color-index">
					<ul id="color-index" class="index-list">
						<li>
							<a href="#">A</a>
						</li>
						<li>
							<a href="#">B</a>
						</li>
						<li>
							<a href="#">C</a>
						</li>
						<li>
							<a href="#">D</a>
						</li>
						<li>
							<a href="#">E</a>
						</li>
						<li>
							<a href="#">F</a>
						</li>
						<li>
							<a href="#">G</a>
						</li>
						<li>
							<a href="#">H</a>
						</li>
						<li>
							<a href="#">I</a>
						</li>
						<li>
							<a href="#">J</a>
						</li>
						<li>
							<a href="#">K</a>
						</li>
						<li>
							<a href="#">L</a>
						</li>
						<li>
							<a href="#">M</a>
						</li>
						<li>
							<a href="#">N</a>
						</li>
						<li>
							<a href="#">O</a>
						</li>
						<li>
							<a href="#">P</a>
						</li>
						<li>
							<a href="#">Q</a>
						</li>
						<li>
							<a href="#">R</a>
						</li>
						<li>
							<a href="#">S</a>
						</li>
						<li>
							<a href="#">T</a>
						</li>
						<li>
							<a href="#">U</a>
						</li>
						<li>
							<a href="#">V</a>
						</li>
						<li>
							<a href="#">W</a>
						</li>
						<li>
							<a href="#">X</a>
						</li>
						<li>
							<a href="#">Y</a>
						</li>
						<li>
							<a href="#">Z</a>
						</li>
					</ul>
				</div>
				</div>
				<div id="color-body" class="panel-body">
					<div class="color-content">
					<span id="A" class="color-az">A</span>
					<ul class="color-list">
						<li><label><input type="checkbox" class="checkbox-inline" value="2314214"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314"><span>红色红色红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="23144"><span>红色</span></label></li>
					</ul>
					</div>
					<div class="color-content">
					<ul class="color-list">
					<span id="B" class="color-az">B</span>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314214"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314"><span>红色红色红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="23144"><span>红色</span></label></li>
					</ul>
					</div>
					<div class="color-content">
					<ul class="color-list">
					<span id="U" class="color-az">U</span>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314214"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314"><span>红色红色红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="23144"><span>红色</span></label></li>
					</ul>
					</div>
					<div class="color-content">
					<ul class="color-list">
					<span id="E" class="color-az">E</span>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314214"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314"><span>红色红色红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="23144"><span>红色</span></label></li>
					</ul>
					</div>
					<div class="color-content">
					<span id="S" class="color-az">S</span>
					<ul class="color-list">
						<li><label><input type="checkbox" class="checkbox-inline" value="2314214"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314"><span>红色红色红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="23144"><span>红色</span></label></li>
					</ul>
					</div>
					<div class="color-content">
					<span id="I" class="color-az">I</span>
					<ul class="color-list">
						<li><label><input type="checkbox" class="checkbox-inline" value="2314214"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314"><span>红色红色红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="23144"><span>红色</span></label></li>
					</ul>
					</div>
					<div class="color-content">
					<span id="P" class="color-az">P</span>
					<ul class="color-list">
						<li><label><input type="checkbox" class="checkbox-inline" value="2314214"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314"><span>红色红色红色</span></label></li>
					</ul>
					</div>
					<div class="color-content">
					<span id="O" class="color-az">O</span>
					<ul class="color-list">
						<li><label><input type="checkbox" class="checkbox-inline" value="2314214"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314"><span>红色红色红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="23144"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314214"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314"><span>红色红色红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="23144"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314214"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314"><span>红色红色红色</span></label></li>
					</ul>
					</div>
					<div class="color-content">
					<span id="L" class="color-az">L</span>
					<ul class="color-list">
						<li><label><input type="checkbox" class="checkbox-inline" value="2314214"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314"><span>红色红色红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="23144"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="23144"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314214"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314"><span>红色红色红色</span></label></li>
					</ul>
					</div>
					<div class="color-content">
					<span id="K" class="color-az">K</span>
					<ul class="color-list">
						<li><label><input type="checkbox" class="checkbox-inline" value="2314214"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314"><span>红色红色红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="23144"><span>红色</span></label></li>
					</ul>
					</div>
					<div class="color-content">
					<span id="J" class="color-az">J</span>
					<ul class="color-list">
						<li><label><input type="checkbox" class="checkbox-inline" value="2314214"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314"><span>红色红色红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="23144"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="23144"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314214"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314"><span>红色红色红色</span></label></li>
					</ul>
					</div>
					<div class="color-content">
					<span id="M" class="color-az">M</span>
					<ul class="color-list">
						<li><label><input type="checkbox" class="checkbox-inline" value="2314214"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314"><span>红色红色红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="23144"><span>红色</span></label></li>
					</ul>
					</div>
					<div class="color-content">
					<span id="N" class="color-az">N</span>
					<ul class="color-list">
						<li><label><input type="checkbox" class="checkbox-inline" value="2314214"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314"><span>红色红色红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="23144"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="23144"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314214"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314"><span>红色红色红色</span></label></li>
					</ul>
					</div>
					<div class="color-content">
					<span id="C" class="color-az">C</span>
					<ul class="color-list">
						<li><label><input type="checkbox" class="checkbox-inline" value="2314214"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314"><span>红色红色红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="23144"><span>红色</span></label></li>
					</ul>
					</div>
					<div class="color-content">
					<span id="L" class="color-az">L</span>
					<ul class="color-list">
						<li><label><input type="checkbox" class="checkbox-inline" value="2314214"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314"><span>红色红色红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="23144"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="23144"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314214"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314"><span>红色红色红色</span></label></li>
					</ul>
					</div>
					<div class="color-content">
					<span id="G" class="color-az">G</span>
					<ul class="color-list">
						<li><label><input type="checkbox" class="checkbox-inline" value="2314214"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314"><span>红色红色红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="23144"><span>红色</span></label></li>
					</ul>
					</div>
					<div class="color-content">
					<span id="W" class="color-az">W</span>
					<ul class="color-list">
						<li><label><input type="checkbox" class="checkbox-inline" value="2314214"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314"><span>红色红色红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="23144"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="23144"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314214"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314"><span>红色红色红色</span></label></li>
					</ul>
					</div>
					<div class="color-content">
					<span id="Q" class="color-az">Q</span>
					<ul class="color-list">
						<li><label><input type="checkbox" class="checkbox-inline" value="2314214"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314"><span>红色红色红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="23144"><span>红色</span></label></li>
					</ul>
					</div>
					<div class="color-content">
					<span id="Y" class="color-az">Y</span>
					<ul class="color-list">
						<li><label><input type="checkbox" class="checkbox-inline" value="2314214"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314"><span>红色红色红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="23144"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="23144"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314214"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314"><span>红色红色红色</span></label></li>
					</ul>
					</div>
					<div class="color-content">
					<span id="V" class="color-az">V</span>
					<ul class="color-list">
						<li><label><input type="checkbox" class="checkbox-inline" value="2314214"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314"><span>红色红色红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="23144"><span>红色</span></label></li>
					</ul>
					</div>
					<div class="color-content">
					<span id="X" class="color-az">X</span>
					<ul class="color-list">
						<li><label><input type="checkbox" class="checkbox-inline" value="2314214"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314"><span>红色红色红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="23144"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="23144"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314214"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314"><span>红色红色红色</span></label></li>
					</ul>
					</div>
					<div class="color-content">
					<span id="Z" class="color-az">Z</span>
					<ul class="color-list">
						<li><label><input type="checkbox" class="checkbox-inline" value="2314214"><span>红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="2314"><span>红色红色红色</span></label></li>
						<li><label><input type="checkbox" class="checkbox-inline" value="23144"><span>红色</span></label></li>
					</ul>
					</div>
				</div>
				<div class="panel-footer">
					<div class="row">
						<div class="col-md-3">
						</div>
						<div class="col-md-3 col-md-offset-6">
							<input type="hidden" id="pageNo"/>
							<ul class="pagination">
							</ul>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /内容 -->
<script type="text/javascript" src="../js/jquery-2.0.3.min.js" ></script>
<script type="text/javascript" src="../js/page.js"></script>
<script type="text/javascript" src="../js/localData.js"></script>
<script type="text/javascript" src="../js/common.js" ></script>
<script type="text/javascript" src="../js/layer/layer.js"></script>
<script type="text/javascript" src="../js/pinyinstr.js"></script>
<script type="text/javascript" src="../js/base/marque-color-brand.js"></script>
<script type="text/javascript">
</script>
<!--<script type="text/javascript">
	function tablebody(){
		var th_ = $("<tr ></tr>"),
		td_ = $("<td></td>");
	}
	$("#search").click(function(){
		$("#pageNo").val(1);
		page();
	});
	function page(){
		var url = "commodity/brand/pageBrand.ihtml";
		var json ='{';
		if($("#brandName").val()){json+='"brandName":"'+$("#brandName").val()+'",';}
		if($("#pageNo").val()){json+='"pageNo":"'+$("#pageNo").val()+'",';}
		json +='"pageSize":'+ pageSize +'}';
		RequestData(url,json,function(data){
			$($(".panel-title")[0]).html("共有"+ data.obj.total+"条记录，每页"+ data.obj.pageSize+"条记录");
			var htmls = '';
			if(data.obj.rows){
				$.each(data.obj.rows,function(n,brand) {
		      		htmls +='<tr>'
								+'<td>'+ brand.brandNo +'</td>'
								+'<td>'+ brand.brandName +'</td>';
								if($("#brandNo",parent.document).val() && $("#brandNo",parent.document).val() == brand.brandNo){
										htmls +='<td>已添加</td>'
							 	}else{
									htmls +='<td><a href="javascript:addBrand(\''+ brand.brandNo +'\',\''+ brand.brandName +'\')">添加</a></td>'
							 	}
					htmls +='</tr>';
		      });
		    }
			$("#dataList").html(htmls);
			//加载分页模块
			bindPageEvent(data.obj.pageNo,data.obj.page);
		})
	}
	$("#search").click();
	function addBrand(brandNo,brandName){
		window.parent.addMarqueBrand(brandNo,brandName);
		page();
	}
	function addcolor(value,pm,th){
		window.parent.addcolorel(value,pm,th);
	}
</script>-->