/*
@branch:商品管理
@pages:商品型号>添加颜色
*/
.marque-color-brand {
	position: relative;
}
.marque-color-brand .index-inset{
	min-height: 100px;
}
.color-body .panel{
	position: relative;
}
.marque-color-brand .color-index{
	display: block;
	padding: 2px 0;
	margin-bottom: 10px;
	background-color: #fff;
	border-bottom: 2px solid #ddd;
}
.marque-color-brand .color-index.fixed{
	position: fixed;
	z-index: 1000;
	top:0;
	left: 0;
	right: 0;
}
.color-index .index-list{
	display: block;
 	list-style: none;
 	padding-left: 80px;
 	padding-right: 80px;
 }
.index-list > li{
 	margin: 6px;
 	display: block;
 	float: left;
 }
.index-list > li >a{
 	display: block;
 	text-align:center;
	font-size: 20px;
	font-weight: bolder;
	width: 48px;
	height: 32px;
	padding: 2px;
	line-height: 26px;
	border: 1px solid transparent;
	border-radius: 3px;
}

.marque-color-brand .panel-body .col-md-3{
	margin-top: 3px;
}
.marque-color-brand .panel-body{
	position: relative;
	padding-bottom: 5px;
}
.marque-color-brand .color-content{
	display: block;
	float: left;
	margin-left: 10px;
}
.color-content .color-az{
	float: left;
	font-size: 22px;
	font-weight: bolder;
	color: #0061A5;
	display: block;
	margin: 2px;
	padding: 0 10px;
	border: 2px #0079BB;
	border-style: dashed;
}
.marque-color-brand .color-list {
	position: relative;
	display: block;
	list-style: none;
	border: 1px solid #ddd;
	padding-left: 0px;
}
.color-content .color-az:after,
.color-content .color-az:before,
.marque-color-brand .color-list:after,
.marque-color-brand .color-list:before,
.marque-color-brand .index-list:after,
.marque-color-brand .index-list:before,
.marque-color-brand .index-list>li:after,
.marque-color-brand .index-list>li:before,
.marque-color-brand .color-az:after,
.marque-color-brand.marque-color-brand .color-az:before{
	content: " ";
	width: 0;
	height: 0;
	overflow: hidden;
	display: table;
	clear: both;
}
.marque-color-brand .color-list>li {
	display: block;
	float: left;
	margin: 10px;
}
.color-list > li>div {
	position: relative;
}
.color-list > li label>span{
	text-align:right;
}
.color-list > li label {
	position: relative;
	max-width: 12em;
	padding: 15px 15px;
}
.color-list > li label,
.index-list > li >a{
	border-color: #ddd;
		border-bottom-color: #cecece;
	background: #f4f4f4;
	background-image: -webkit-linear-gradient(top, #f4f4f4 0, #eaeaea 100%);
	background-image: linear-gradient(to bottom, #f4f4f4 0, #eaeaea 100%);
}
.color-list > li label > input {
	margin: 0 5px;
}
.index-list > li > a:focus,
.index-list > li > a:hover,
.color-list > li label >input[type=checkbox]:checked + span,
.color-content .color-az:target,
.color-content .color-az:hover{
	border-color: #FF9900;
	color: #FF9900;
}