.title-wrap{
	position: relative;
	display: block;
	background-color: #E24F49;
}
.title-text{
	display: block;
	position: absolute;
	top: 30px;
	left: 0;
	padding: 4px 8px;
	font-size: 16px;
	font-weight: bold;
	border: 1px solid transparent;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: #E24F49;
	color: #fff;
	
}